<div>
  <div sbbDialogHeader>Debug XML</div>
  <div sbbDialogContent>
    <div style="width: 500px">
      <div>
        Request XML
        <textarea class="w-100" rows="7">{{ this.requestXmlS }}</textarea>
      </div>
      <div>
        Response XML
        <textarea class="w-100" rows="7">{{ this.responseXmlS }}</textarea>
      </div>
    </div>
  </div>
  <div sbbDialogFooter>
    <button
      type="button"
      class="btn btn-secondary"
      sbbDialogClose>
      Close
    </button>
  </div>
</div>
