<div class="d-flex flex-column vh-100 overflow-hidden">
  <web-header class="ms-2"></web-header>
  <nav sbb-tab-nav-bar>
    <a sbb-tab-link [active]="'false'" [routerLink]="'../search'" [queryParams]="{ stage: this.userTripService.currentAppStage }">Journey Search</a>
    <a sbb-tab-link [active]="'false'" [routerLink]="'../board'" [queryParams]="{ stage: this.userTripService.currentAppStage }">Station Board</a>
    <a sbb-tab-link [active]="'true'">Trip Info</a>
  </nav>

  <div class="flex-grow-1 d-flex flex-column overflow-hidden p-3">
    <div class="d-flex gap-2 flex-grow-1 overflow-hidden">
      <div class="d-flex flex-column overflow-x-hidden overflow-y-auto" style="width: 600px;">
        
        <div class="flex-shrink-0">
          <trip-info-search></trip-info-search>
        </div>

        <div class="flex-grow-1 overflow-x-hidden overflow-y-scroll">
          <trip-info-result></trip-info-result>
        </div>
      </div>

      <div class="flex-grow-1 h-100">
        <trip-info-map></trip-info-map>
      </div>
    </div>
  </div>

  <web-footer class="ms-2"></web-footer>
</div>
