.pill-hover:hover {
  cursor: pointer;
}

.location-hover:hover {
  cursor: pointer;
}

.tooltip-list {
  margin-top: 16px;
  margin-bottom: 8px;
}

.leg-left-side {
  width: 50px;
}

.service-attributes {
  margin-left: 4px;
}

.service-attribute {
  margin-top: 4px;
  margin-left: 4px;
  height: 14px;
}

.leg-leading-text {
  margin-bottom: 2px;
}

.leg-icon {
  width: 40px;
  height: 40px;
}

.leg-location {
  background-color: transparent;
  margin-left: 4px;
}

.leg-time-wrapper {
  background-color: transparent;
}

.leg-time {
  font-size: 15px;
}

.time-delay {
  color: #c45f00;
}

.booking-arrangement {
  margin-top: 4px;
  margin-bottom: 4px;
}

.booking-arrangement li {
  margin-top: 0px;
  padding-left: 0px;
}

.situation-info {
  margin-left: 4px;
}

.leg-platform-assistance {
  width: 30px;
}

.service-heading {
  margin-left: 2px;
  // font-size: 12px;
}