// need to redeclare it otherwise Bootrstrap clashes with SBB
.font-weight-bold {
  font-weight: bold;
}

.pill-hover:hover {
  cursor: pointer;
}

.location-hover:hover {
  cursor: pointer;
}

.tooltip-list {
  margin-top: 16px;
  margin-bottom: 8px;
}

.leg-left-side {
  width: 50px;
}

.leg-icon {
  width: 40px;
  height: 40px;
}

.leg-location {
  background-color: transparent;
  margin-left: 4px;
}

.leg-time-wrapper {
  background-color: transparent;
}

.leg-time {
  font-size: 15px;
}

.time-delay {
  color: #c45f00;
}

.booking-arrangement {
  margin-top: 4px;
  margin-bottom: 4px;
}

.booking-arrangement li {
  margin-top: 0px;
  padding-left: 0px;
}

.leg-endpoint .leg-platform-assistance {
  width: 30px;
}

.occupancy svg {
  width: 24px;
}

.leg-intermediate .leg-platform-assistance {
  width: 25px;
}

.occupancy-icon {
  width: 64px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
}

.separator-g2 {
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  margin: 4px 0px;
}

.separator-g3 {
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  margin: 16px 0px;
}

.btn-collapse.collapsed .bi-chevron-down {
  display: inline;
}
.btn-collapse .bi-chevron-down {
  display: none;
}

.btn-collapse.collapsed .bi-chevron-up {
  display: none;
}
.btn-collapse .bi-chevron-up {
  display: inline;
}

.intermediary-stops {
  font-size: 14px;
}

.table-stops {
  font-size: 13px;
}

.table-stops td.fit, 
.table-stops th.fit {
  white-space: nowrap;
  width: 1%;
}

.location-hover {
  cursor: pointer;
}

.guidance-description {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.guidance-step-street {
  font-size: 12px;
}

ul {
  margin-bottom: 17px;
}
