.via-container {
  margin-top: 0px;
  margin-bottom: 0px;
}

.via-content {
  margin-top: 8px;
  margin-bottom: 16px;
}

.via-mot {
  margin-left: 12px;
}

.via-label {
  font-size: 12px;
}

.via-label:hover {
  cursor: pointer;
}

