<div class="map_wrapper" id="map_canvas"></div>

<div class="d-none">
    <div id="map-endpoint-coords-picker-popup">
        <div class="popup-picker p-2">
            <div class="popup-picker-header mb-2">
                Coords: [PICKER_COORDS]
            </div>
            <div class="popup-picker-body">
                <button type="button" class="btn btn-primary btn-sm" data-endpoint-type="From">From</button>
                <button type="button" class="btn btn-primary btn-sm" data-endpoint-type="To">To</button>
                <button type="button" class="btn btn-primary btn-sm" data-endpoint-type="Via">Via</button>
            </div>
        </div>
    </div>
    <div id="map-endpoint-stop-picker-popup">
        <div class="popup-picker p-2">
            <div class="popup-picker-header mb-2">
                [STOP_NAME] ([STOP_ID])
            </div>
            <div class="popup-picker-body">
                <button type="button" class="btn btn-primary btn-sm" data-endpoint-type="From">From</button> <button
                    type="button" class="btn btn-primary btn-sm" data-endpoint-type="To">To</button> <button
                    type="button" class="btn btn-primary btn-sm" data-endpoint-type="Via">Via</button>
            </div>
        </div>
    </div>
    <div id="map-endpoint-picker-popup">
        <div class="popup-picker p-2">
            <div class="popup-picker-header mb-2">
                TYPE: [GEO_RESTRICTION_TYPE]
            </div>
            <div class="popup-picker-body">
                [GEOJSON_PROPERTIES_TABLE]

                <button type="button" class="btn btn-primary btn-sm" data-endpoint-type="From">From</button> <button
                    type="button" class="btn btn-primary btn-sm" data-endpoint-type="To">To</button> <button
                    type="button" class="btn btn-primary btn-sm" data-endpoint-type="Via">Via</button>
            </div>
        </div>
    </div>
    <div id="map-poi-picker-popup">
        <div class="popup-picker p-2">
            <div class="popup-picker-header mb-2">
                [POI_NAME]
            </div>
            <div class="popup-picker-body">
                [GEOJSON_PROPERTIES_TABLE]

                <button type="button" class="btn btn-primary btn-sm" data-endpoint-type="From">From</button> <button
                    type="button" class="btn btn-primary btn-sm" data-endpoint-type="To">To</button> <button
                    type="button" class="btn btn-primary btn-sm" data-endpoint-type="Via">Via</button>
            </div>
        </div>
    </div>
</div>
