<div class="trip-mot-type-container">

  <div class="d-flex gap-1 align-items-center via-mot">
    <div>
      <sbb-form-field>
        <sbb-label>Mono-/Multi-modal</sbb-label>
          <sbb-select
          [(ngModel)]="this.userTripService.tripModeType"
          (selectionChange)="onTripModeChange()">
          <sbb-option
            *ngFor="let tripTransportMode of this.tripTransportModeData"
            [value]="tripTransportMode.modeType">{{ computeTripModeTypeText(tripTransportMode.modeType) }}</sbb-option>
        </sbb-select>
      </sbb-form-field>
    </div>

    <div class="flex-grow-1">
      <sbb-form-field class="w-100">
        <sbb-label>Mode of Transport</sbb-label>
          <sbb-select
          [(ngModel)]="this.userTripService.tripTransportMode"
          (selectionChange)="onTransportModeChange()">
          <sbb-option
            *ngFor="let tripTransportMode of this.tripTransportModes"
            [value]="tripTransportMode">{{ computeTripTransportModeText(tripTransportMode) }}</sbb-option>
        </sbb-select>
      </sbb-form-field>
    </div>

    <div class="mobility-settings">
      <button 
        sbb-secondary-button
        type="button" 
        [disabled]="this.userTripService.tripModeType !== 'monomodal'"
        [attr.data-bs-target]="'#' + this.settingsCollapseID"
        [attr.aria-controls]="this.settingsCollapseID"
        (click)="toggleAdditionalRestrictions()"
        data-bs-toggle="collapse" 
        aria-expanded="false">
          <sbb-icon *ngIf="!this.userTripService.isAdditionalRestrictionsEnabled" svgIcon="kom:filter-small"></sbb-icon>
          <sbb-icon *ngIf="this.userTripService.isAdditionalRestrictionsEnabled" svgIcon="kom:filter-x-small"></sbb-icon>
      </button>
    </div>
  </div>

  <div 
      class="mobility-settings-left-v2 endpoint-settings-wrapper collapse" 
      [ngClass]="{ 'show': this.userTripService.isAdditionalRestrictionsEnabled }" 
      id="{{ this.settingsCollapseID }}"
    >
    <div class="endpoint-settings">
      <ng-container *ngIf="this.showMinMaxDurationDistancePanel;">
        <div class="d-flex align-items-center mb-2">
          <div class="flex-grow-1">
            <sbb-checkbox value="single-checkbox" [(ngModel)]="this.isFilterMinDurationEnabled" (change)="updateAdditionalRestrictions()">
              MinDuration
            </sbb-checkbox>
          </div>
          <div>
            <input sbbInput style="width: 50px;" [formControl]="this.filterMinDurationControl" /> minutes
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="flex-grow-1">
            <sbb-checkbox value="single-checkbox" [(ngModel)]="this.isFilterMaxDurationEnabled" (change)="updateAdditionalRestrictions()">
              MaxDuration
            </sbb-checkbox>
          </div>
          <div>
            <input sbbInput style="width: 50px;" [formControl]="this.filterMaxDurationControl" /> minutes
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="flex-grow-1">
            <sbb-checkbox value="single-checkbox" [(ngModel)]="this.isFilterMinDistanceEnabled" (change)="updateAdditionalRestrictions()">
              MinDistance
            </sbb-checkbox>
          </div>
          <div>
            <input sbbInput style="width: 70px;" [formControl]="this.filterMinDistanceControl" /> meters
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="flex-grow-1">
            <sbb-checkbox value="single-checkbox" [(ngModel)]="this.isFilterMaxDistanceEnabled" (change)="updateAdditionalRestrictions()">
              MaxDistance
            </sbb-checkbox>
          </div>
          <div>
            <input sbbInput style="width: 70px;" [formControl]="this.filterMaxDistanceControl" /> meters
          </div>
        </div>
      </ng-container>
      
      <div class="d-flex align-items-center mb-2">
        <div class="flex-grow-1">
          <sbb-checkbox value="single-checkbox" [(ngModel)]="this.isNumberOfResultsEnabled" (change)="updateAdditionalRestrictions()">
            NumberOfResults
          </sbb-checkbox>
        </div>
        <div>
          <input sbbInput style="width: 50px;" [(ngModel)]="this.numberOfResults" (change)="updateAdditionalRestrictions()"/>
        </div>
      </div>
      <div class="d-flex align-items-center mb-2">
        <div class="flex-grow-1">
          <sbb-checkbox value="single-checkbox" [(ngModel)]="this.isNumberOfResultsBeforeEnabled" (change)="updateAdditionalRestrictions()">
            NumberOfResultsBefore
          </sbb-checkbox>
        </div>
        <div>
          <input sbbInput style="width: 50px;" [(ngModel)]="this.numberOfResultsBefore" (change)="updateAdditionalRestrictions()" />
        </div>
      </div>
      <div class="d-flex align-items-center mb-2">
        <div class="flex-grow-1">
          <sbb-checkbox value="single-checkbox" [(ngModel)]="this.isNumberOfResultsAfterEnabled" (change)="updateAdditionalRestrictions()">
            NumberOfResultsAfter
          </sbb-checkbox>
        </div>
        <div>
          <input sbbInput style="width: 50px;" [(ngModel)]="this.numberOfResultsAfter" (change)="updateAdditionalRestrictions()" />
        </div>
      </div>
      <ng-container *ngIf="!this.isV1;">
        <div class="d-flex gap-2 align-items-center mb-3">
          <div>UseRealTimeData</div>
          <div>
            <sbb-radio-group class="sbb-radio-group-horizontal" [(ngModel)]="this.selectedUseRealTimeDataType" (change)="updateAdditionalRestrictions()">
              <sbb-radio-button *ngFor="let useRealTimeDataType of this.useRealTimeDataTypes"
                [value]="useRealTimeDataType">
                {{ useRealTimeDataType }}
              </sbb-radio-button>
            </sbb-radio-group>
          </div>
        </div>
      </ng-container>
      <div class="d-flex gap-2 align-items-center mb-2">
        <div>Travel only with</div>
        <sbb-checkbox [(ngModel)]="this.mapPublicTransportModesFilter.rail" (change)="updateAdditionalRestrictions()">train</sbb-checkbox>
        <sbb-checkbox [(ngModel)]="this.mapPublicTransportModesFilter.bus" (change)="updateAdditionalRestrictions()">bus</sbb-checkbox>
        <sbb-checkbox [(ngModel)]="this.mapPublicTransportModesFilter.tram" (change)="updateAdditionalRestrictions()">tram</sbb-checkbox>
        <sbb-checkbox [(ngModel)]="this.mapPublicTransportModesFilter.water" (change)="updateAdditionalRestrictions()">boat</sbb-checkbox>
      </div>

      <ng-container *ngIf="!this.isV1;">
        <div class="mb-2">
          <div class="mb-1">Deviation from average walking speed in percent. (100% == average)</div>
          <div class="d-flex gap-2 align-items-center">
            <sbb-radio-group class="sbb-radio-group-horizontal" [(ngModel)]="this.walkSpeedDeviation" (change)="updateAdditionalRestrictions()">
              <ng-container *ngFor="let walkSpeedDeviationValue of this.walkSpeedDeviationValues">
                <sbb-radio-button [value]="walkSpeedDeviationValue">
                  {{ walkSpeedDeviationValue }} %
                </sbb-radio-button>
              </ng-container>
            </sbb-radio-group>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
