<div sbbDialogTitle>Embed journey in another website</div>
<div sbbDialogContent>
  <div style="width: 500px">
    <p>Select which journey endpoints should be prefilled:</p>
    <div>
      <div>
        <sbb-checkbox [(ngModel)]="this.fromLocationChecked" (change)="updateEmbedHTML()">(From) {{ this.fromLocationText }}</sbb-checkbox>
      </div>
      <div>
        <sbb-checkbox [(ngModel)]="this.toLocationChecked" (change)="updateEmbedHTML()">(To) {{ this.toLocationText }}</sbb-checkbox>
      </div>
    </div>
    <p>Copy the following code in the target webpage</p>
    <textarea class="w-100" rows="7">{{ this.embedHTMLs }}</textarea>
  </div>
</div>
<div sbbDialogActions>
  <button
    type="button"
    class="btn btn-secondary"
    sbbDialogClose>
    Close
  </button>
</div>
