<div class="row mb-2">
  <div class="col">
    <sbb-accordion>
      <sbb-expansion-panel [expanded]="true">
        <sbb-expansion-panel-header>{{ this.headerText }}</sbb-expansion-panel-header>
        
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <station-board-input (locationSelected)="onLocationSelected($event)">
            </station-board-input>
          </div>
        </div>

        <div class="mb-3 d-flex" *ngIf="!this.isEmbed">
          <div>
            <sbb-radio-group class="sbb-radio-group-horizontal" [(ngModel)]="this.stationBoardType" (change)="onTypeChanged()">
              <sbb-radio-button *ngFor="let stationBoardTypeItem of this.stationBoardTypes"
                [value]="stationBoardTypeItem">
                {{ stationBoardTypeItem }}
              </sbb-radio-button>
            </sbb-radio-group>
          </div>
        </div>

        <div class="d-flex align-items-center gap-2">
          <div>
            <sbb-form-field label="Choose Day">
              <sbb-datepicker arrows>
                <input 
                  sbbInput  
                  sbbDateInput
                  [(ngModel)]="this.searchDate"
                  (dateChange)="onDateTimeChanged()" />
              </sbb-datepicker>
            </sbb-form-field>
          </div>
          <div style="width:70px;">
            <sbb-form-field label="Time">
              <input 
                sbbInput
                sbbTimeInput
                [(ngModel)]="this.searchTime"
                (change)="onDateTimeChanged()" />
            </sbb-form-field>
          </div>
          <div>
            <button sbb-secondary-button
              (click)="resetDateTime()"
              aria-expanded="false">
                <sbb-icon svgIcon="kom:arrow-circle-reset-small"></sbb-icon>
            </button>
          </div>
        </div>
        
        <div class="mb-3 d-flex" *ngIf="!this.isEmbed">
          <div>
            <sbb-radio-group class="sbb-radio-group-horizontal">
              <sbb-radio-button *ngFor="let appStageOption of this.appStageOptions" 
                [value]="appStageOption"
                [checked]="this.userTripService.currentAppStage == appStageOption"
                (change)="onChangeStageAPI($event)">
                {{ appStageOption }}
              </sbb-radio-button>
            </sbb-radio-group>
          </div>
        </div>

        <div class="d-flex">
          <div style="margin-right: 4px;">
            <button
              class="btn btn-primary"
              type="button"
              (click)="searchButtonClicked()"
              [disabled]="isSearchButtonDisabled()">
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="this.isSearching"></span>
              Search
            </button>
          </div>

          <div class="ms-auto" *ngIf="!this.isEmbed">
            <button
              class="btn btn-secondary"
              (click)="loadCustomXMLPopover()"
              type="button">
              Custom XML
            </button>
          </div>
        </div>

      </sbb-expansion-panel>
    </sbb-accordion>
  </div>
</div>

<div class="row mb-2" *ngIf="this.isEmbed">
  <div class="col">
    <div class="d-flex flex-row-reverse">
      <div>
        <a href="{{ this.permalinkRelativeURL }}" target="_blank">Open in OJP Demo App</a>
      </div>
    </div>
  </div>
</div>


<div class="row mb-2" *ngIf="!this.isEmbed">
  <div class="col">
    <div class="d-flex flex-row-reverse gap-2">
      <ng-container *ngIf="this.currentRequestInfo?.requestXML && !this.isEmbed">
        <div class="xml-info" (click)="showRequestXmlPopover()">
          <span class="layer-xml-info badge bg-info text-dark">XML</span>
        </div>
        <div>|</div>
      </ng-container>

      <div>
        <a href="{{ this.permalinkRelativeURL }}" target="_blank">Permalink</a>
      </div>
      <ng-container *ngIf="this.searchLocation !== null">
        <div>|</div>
        <div>
          <a target="_blank" (click)="loadEmbedHTMLPopover()" class="text-decoration-underline" role="button">Embed</a>
        </div>
      </ng-container>  
    </div>
  </div>
</div>
