<div class="row mb-2">
  <div class="col">
    <sbb-accordion>
      <sbb-expansion-panel [expanded]="true">
        <sbb-expansion-panel-header>Search</sbb-expansion-panel-header>
        <station-board-input (locationSelected)="onLocationSelected($event)" 
          [appStageConfig]="this.userTripService.getStageConfig(this.appStage)">
        </station-board-input>

        <div class="mb-3 d-flex">
          <div>
            <sbb-radio-group class="sbb-radio-group-horizontal" [(ngModel)]="this.stationBoardType" (change)="onTypeChanged()">
              <sbb-radio-button *ngFor="let stationBoardTypeItem of this.stationBoardTypes"
                [value]="stationBoardTypeItem">
                {{ stationBoardTypeItem }}
              </sbb-radio-button>
            </sbb-radio-group>
          </div>
        </div>

        <div class="d-flex">
          <div>
            <sbb-form-field label="Choose Day">
              <sbb-datepicker arrows>
                <input 
                  sbbInput  
                  sbbDateInput
                  [(ngModel)]="this.searchDate"
                  (dateChange)="onDateTimeChanged()" />
              </sbb-datepicker>
            </sbb-form-field>
          </div>
          <div style="margin-left: 8px;">
            <sbb-form-field label="Time">
              <input 
                sbbInput
                sbbTimeInput
                [(ngModel)]="this.searchTime"
                (change)="onDateTimeChanged()" />
            </sbb-form-field>
          </div>
        </div>
        
        <div class="mb-3 d-flex">
          <div>
            <sbb-radio-group class="sbb-radio-group-horizontal" [(ngModel)]="this.appStage">
              <sbb-radio-button *ngFor="let appStageOption of this.appStageOptions" [value]="appStageOption">
                {{ appStageOption }}
              </sbb-radio-button>
            </sbb-radio-group>
          </div>
        </div>

        <div class="d-flex">
          <div style="margin-right: 4px;">
            <button
              class="btn btn-primary"
              type="button"
              (click)="searchButtonClicked()"
              [disabled]="isSearchButtonDisabled()">
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="this.isSearching"></span>
              Search
            </button>
          </div>
        </div>

      </sbb-expansion-panel>
    </sbb-accordion>
  </div>
</div>