<div class="row mb-1">
  <div class="col">
    <sbb-accordion>
      <sbb-expansion-panel>
        <sbb-expansion-panel-header>Search</sbb-expansion-panel-header>
          <journey-point-input
            (selectedLocation)="onLocationSelected($event, 'From')"
            [endpointType]="'From'"
            [inputValue]="fromLocationText"
            [placeholder]="'From'">
          </journey-point-input>

          <trip-mot-type
            *ngFor="let modeType of this.userTripService.journeyTripsPlaceholder; index as idx"
            [tripModeTypeIdx]="idx">
          </trip-mot-type>

          <journey-point-input
            (selectedLocation)="onLocationSelected($event, 'To')"
            [endpointType]="'To'"
            [inputValue]="toLocationText"
            [placeholder]="'To'">
          </journey-point-input>

          <div class="row">
            <div class="col">
              <sbb-form-field label="Choose Day">
                <sbb-datepicker arrows>
                  <input 
                    sbbInput  
                    sbbDateInput
                    [(ngModel)]="this.searchDate"
                    (dateChange)="onChangeDateTime()" />
                </sbb-datepicker>
              </sbb-form-field>
            </div>
            <div class="col">
              <sbb-form-field label="Time">
                <input 
                  sbbInput
                  sbbTimeInput
                  [(ngModel)]="this.searchTime"
                  (change)="onChangeDateTime()" />
              </sbb-form-field>
            </div>
          </div>
          
          <div class="mb-2 d-flex">
            <div>
              <sbb-radio-group class="sbb-radio-group-horizontal">
                <sbb-radio-button
                  *ngFor="let appStageOption of this.appStageOptions"
                  [value]="appStageOption"
                  [checked]="this.userTripService.currentAppStage == appStageOption"
                  (change)="onChangeStageAPI($event)"
                >
                  {{ appStageOption }}
                </sbb-radio-button>
              </sbb-radio-group>
            </div>
          </div>
          
          <div class="d-flex">
            <div style="margin-right: 4px;">
              <button
                class="btn btn-primary"
                type="button"
                (click)="handleTapOnSearch()"
                [disabled]="shouldDisableSearchButton()">
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                  *ngIf="isSearching"
                ></span>
                Search Journeys
              </button>
            </div>

            <div class="ms-auto">
                <button 
                class="btn btn-secondary" 
                (click)="this.loadInputTripXMLPopover()"
                type="button">
                Debug XML
              </button>
            </div>

          </div>
        
      </sbb-expansion-panel>
    </sbb-accordion>
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    <div class="d-flex flex-row-reverse">
      <div *ngIf="requestDuration !== null">
        <span class="badge bg-success">{{ this.requestDuration }}</span>
      </div>
      <div style="width: 7px"></div>
      <div *ngIf="this.userTripService.permalinkURLAddress !== null">
        <a href="{{ this.userTripService.permalinkURLAddress }}" target="_blank">Permalink</a>
      </div>
    </div>
  </div>
</div>
