<div class="row">
  <div class="col">
    <form [formGroup]="formGroup">
      <div>
        <journey-point-input
          (selectedLocation)="onLocationSelected($event, 'From')"
          [endpointType]="'From'"
          [inputValue]="fromLocationText"
          [placeholder]="'From'">
        </journey-point-input>
      </div>
      <div>
        <journey-point-input
          (selectedLocation)="onLocationSelected($event, 'To')"
          [endpointType]="'To'"
          [inputValue]="toLocationText"
          [placeholder]="'To'">
        </journey-point-input>
      </div>
      <div class="d-flex align-items-center justify-content-start">
        <div>
          <sbb-form-field label="Choose Date and Time">
            <sbb-datepicker arrows>
              <input
                type="text"
                sbbDateInput
                sbbInput
                formControlName="date"
                placeholder="Choose a date"
              />
            </sbb-datepicker>
          </sbb-form-field>
        </div>
        <div style="width: 10px"></div>
        <div>
          <input
            sbbTimeInput
            formControlName="time"
          />
        </div>
      </div>
      <div class="mb-2 d-flex">
        <div>
          <sbb-radio-group class="sbb-radio-group-horizontal">
            <sbb-radio-button
              *ngFor="let appStageOption of appStageOptions"
              [value]="appStageOption"
              [checked]="currentAppStage == appStageOption"
              (change)="onChangeStageAPI($event)"
            >
              {{ appStageOption }}
            </sbb-radio-button>
          </sbb-radio-group>
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="handleTapOnSearch()"
          [disabled]="hasInvalidSearchParams()"
        >Search</button>
      </div>
    </form>
  </div>
</div>

