<div class="row mb-1">
  <div class="col">
    <sbb-accordion>
      <sbb-expansion-panel [expanded]="true">
        <sbb-expansion-panel-header>{{ this.headerText }}</sbb-expansion-panel-header>
        <ng-container *ngTemplateOutlet="searchContent"></ng-container>
      </sbb-expansion-panel>
    </sbb-accordion>
  </div>
</div>

<ng-template #searchContent>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1 journey-endpoint">
      <journey-point-input
        (selectedLocation)="onLocationSelected($event, 'From')"
        [endpointType]="'From'"
        [inputValue]="this.fromLocationText"
        [placeholder]="'From'">
      </journey-point-input>
    </div>

    <div class="right-button">
      <button sbb-secondary-button
        (click)="toggleViaState()"
        class="btn-collapse collapsed"
        data-bs-toggle="collapse" 
        data-bs-target="#viaContainer"
        aria-controls="viaContainer"
        aria-expanded="false">
        
        <sbb-icon *ngIf="!this.userTripService.isViaEnabled" svgIcon="kom:plus-medium"></sbb-icon>
        <sbb-icon *ngIf="this.userTripService.isViaEnabled" svgIcon="kom:minus-medium"></sbb-icon>
      </button>
    </div>
  </div>

  <div class="collapse" [ngClass]="{ 'show': this.userTripService.isViaEnabled}" id="viaContainer">
    <div class="d-flex gap-2 align-items-center">
      <div class="flex-grow-1 journey-endpoint">
        <journey-point-input
          (selectedLocation)="onLocationSelected($event, 'Via')"
          [endpointType]="'Via'"
          [inputValue]="this.viaText"
          [placeholder]="'Via'">
        </journey-point-input>
      </div>
      <div class="via-dwell-time">
        <sbb-form-field class="sbb-form-field-long">
          <sbb-label>Dwell Time (mins)</sbb-label>
          <input type="text" sbbInput placeholder="0" [formControl]="viaDwellTime" />
        </sbb-form-field>
      </div>
    </div>
  </div> 
  
  <ng-container *ngIf="!this.isEmbed">
    <trip-mode-type></trip-mode-type>
  </ng-container>

  <div class="d-flex align-items-center">
    <div class="flex-grow-1 journey-endpoint">
      <journey-point-input
        (selectedLocation)="onLocationSelected($event, 'To')"
        [endpointType]="'To'"
        [inputValue]="toLocationText"
        [placeholder]="'To'">
      </journey-point-input>
    </div>

    <div class="right-button">
      <button sbb-secondary-button
        (click)="swapEndpoints()"
        aria-expanded="false">
          <sbb-icon svgIcon="kom:arrow-change-horizontal-medium"></sbb-icon>
      </button>
    </div>
  </div>

  <div class="d-flex align-items-center gap-2">
    <div>
      <sbb-form-field label="Choose Day">
        <sbb-datepicker arrows>
          <input
            sbbInput
            sbbDateInput
            [(ngModel)]="this.searchDate"
            (dateChange)="onChangeDateTime()" />
        </sbb-datepicker>
      </sbb-form-field>
    </div>
    <div style="width:70px;">
      <sbb-form-field label="Time">
        <input
          sbbInput
          sbbTimeInput
          [(ngModel)]="this.searchTime"
          (change)="onChangeDateTime()" />
      </sbb-form-field>
    </div>
    <div>
      <button sbb-secondary-button
        (click)="resetDateTime()"
        aria-expanded="false">
          <sbb-icon svgIcon="kom:arrow-circle-reset-small"></sbb-icon>
      </button>
    </div>
    <div>
      <sbb-radio-group class="sbb-radio-group-horizontal" [(ngModel)]="this.userTripService.currentBoardingType">
        <sbb-radio-button 
          *ngFor="let boardingType of this.tripRequestBoardingTypes"
          [value]="boardingType">{{ boardingType }}</sbb-radio-button>
      </sbb-radio-group>
    </div>
  </div>

  <div class="mb-2 d-flex" *ngIf="this.isEmbed === false">
    <div>
      <sbb-radio-group class="sbb-radio-group-horizontal">
        <sbb-radio-button
          *ngFor="let appStageOption of this.appStageOptions"
          [value]="appStageOption"
          [checked]="this.userTripService.currentAppStage == appStageOption"
          (change)="onChangeStageAPI($event)"
        >
          {{ appStageOption }}
        </sbb-radio-button>
      </sbb-radio-group>
    </div>
  </div>

  <div class="d-flex">
    <div style="margin-right: 4px;">
      <button
        class="btn btn-primary"
        type="button"
        (click)="handleTapOnSearch()"
        [disabled]="shouldDisableSearchButton()">
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          *ngIf="isSearching"
        ></span>
        Search Journeys
      </button>
    </div>

    <div class="ms-auto" *ngIf="!this.isEmbed">
        <button
        class="btn btn-secondary"
        (click)="loadInputTripXMLPopover()"
        type="button">
        Debug XML
      </button>
    </div>

  </div>
</ng-template>

<div class="row mb-2" *ngIf="!this.isEmbed">
  <div class="col">
    <div class="d-flex gap-1 flex-row-reverse">
      <div class="xml-info" (click)="showRequestXMLPopover()" *ngIf="this.currentRequestInfo !== null">
        <span class="layer-xml-info badge bg-info text-dark">XML</span>
      </div>
      <div *ngIf="this.requestDurationF !== null">
        <span class="badge bg-success">{{ this.requestDurationF }}</span>
      </div>
      <div style="width: 2px"></div>
      <ng-container *ngIf="this.userTripService.permalinkRelativeURL !== null">
        <div>
          <a href="{{ this.userTripService.permalinkRelativeURL }}" target="_blank">Permalink</a>
        </div>
        <div clas="text-center" style="width: 7px; margin-left: 4px;"> | </div>
        <div>
          <a target="_blank" (click)="loadEmbedHTMLPopover()" class="text-decoration-underline" role="button">Embed</a>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="row mb-2" *ngIf="this.isEmbed && this.userTripService.permalinkRelativeURL !== null">
  <div class="col">
    <div class="d-flex flex-row-reverse">
      <div>
        <a href="{{ this.userTripService.permalinkRelativeURL }}" target="_blank">Open in OJP Demo App</a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2" *ngIf="this.gistURL !== null">
  <div class="col">
    <div>
      Content from <a href="{{ this.gistURL }}" target="_blank">{{ this.gistURL }}</a>
    </div>
  </div>
</div>
    
