body {
  background: #F1F1F1;
}

.bg-ojp-blue {
  background-color: #05348B;
}

.bg-ojp-orange {
  background-color: #ffc115;
}

.navbar-brand {
  font-size: 40px;
}

.last-update {
  font-size: 12px;
}

.map-control {
  background-color: #fff;
  padding: 8px;
}

.popup-picker-header {
  font-size: 14px;
}

.marker-journey-endpoint {
  border: none;
  cursor: pointer;
  width: 30px;
  height: 50px;
  background-repeat: no-repeat;
}

.marker-journey-endpoint-From {
  background-image: url(assets/map-icons/pin-a-v3.png);
}

.marker-journey-endpoint-To {
  background-image: url(assets/map-icons/pin-b-v3.png);
}

.marker-journey-endpoint-Via {
  background-image: url(assets/map-icons/pin-via-v3.png);
}

.layer-xml-info {
  cursor: pointer;
}
