body {
  background: #F1F1F1;
}

.bg-ojp-blue {
  background-color: #05348B;
}

.bg-ojp-orange {
  background-color: #ffc115;
}

.navbar-brand {
  font-size: 40px;
}

.last-update {
  font-size: 12px;
}
