.table td.fit, 
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.time-departure {
  font-weight: bold;
  font-size: 16px;
}

.stop-info {
  font-size: 16px;
}

.time-delay {
  color: #c45f00;
}

.leg-platform-assistance {
  width: 30px;
}
