<ng-container *ngTemplateOutlet="variant2"></ng-container>

<ng-template #variant2>
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th scope="col">Arr</th>
        <th scope="col">Dep</th>
        <th scope="col">Stop</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stopPointData of this.stopPointsData" (click)="zoomToLocation(stopPointData)">
        <td class="fit stop-time">
          <span>{{ stopPointData.arrText }}</span>
          <span class="time-delay">{{ stopPointData.arrDelayText }}</span>
        </td>
        <td class="fit stop-time">
          <span>{{ stopPointData.depText }}</span>
          <span class="time-delay">{{ stopPointData.depDelayText }}</span>
        </td>
        <td class="stop-info d-flex">
          <div class="flex-grow-1">{{ stopPointData.locationText }}</div>
          <div *ngIf="stopPointData.platformText !== null" class="d-flex gap-2">
            <div *ngIf="stopPointData.actualPlatformText === null">
              <div>Pl. {{ stopPointData.platformText }}</div>
            </div>
            <div *ngIf="stopPointData.actualPlatformText !== null">
              <div>Pl. <del> {{ stopPointData.platformText }}</del> <span class="time-delay"> {{ stopPointData.actualPlatformText }}</span></div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
