<ng-container *ngTemplateOutlet="variant2"></ng-container>

<ng-template #variant2>
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th scope="col">Arr</th>
        <th scope="col">Dep</th>
        <th scope="col">Stop</th>
        <th scope="col">Route</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let stopPointData of this.stopPointsData; index as stopIdx"
        (click)="zoomToLocation(stopPointData)"
      >
        <td class="fit stop-time align-middle">
          <div *ngIf="stopPointData.isNotServicedStop">
            <span><del>{{ stopPointData.arrText }}</del></span>
            <span class="time-delay"><del>{{ stopPointData.arrDelayText }}</del></span>  
          </div>
          <div *ngIf="!stopPointData.isNotServicedStop">
            <span>{{ stopPointData.arrText }}</span>
            <span class="time-delay">{{ stopPointData.arrDelayText }}</span>  
          </div>
        </td>
        <td class="fit stop-time align-middle">
          <div *ngIf="stopPointData.isNotServicedStop">
            <span><del>{{ stopPointData.depText }}</del></span>
            <span class="time-delay"><del>{{ stopPointData.depDelayText }}</del></span>
          </div>
          <div *ngIf="!stopPointData.isNotServicedStop">
            <span>{{ stopPointData.depText }}</span>
            <span class="time-delay">{{ stopPointData.depDelayText }}</span>
          </div>
        </td>
        <td class="stop-info d-flex gap-2 align-items-center">
          <div class="flex-grow-1">{{ stopPointData.locationText }} <span *ngIf="stopPointData.isNotServicedStop" class="badge rounded-pill bg-danger fw-bolder">not serviced</span></div>
          <div *ngIf="stopPointData.platformText !== null" class="d-flex gap-2">
            <div *ngIf="stopPointData.actualPlatformText === null">
              <div>Pl. {{ stopPointData.platformText }}</div>
            </div>
            <div *ngIf="stopPointData.actualPlatformText !== null">
              <div>Pl. <del> {{ stopPointData.platformText }}</del> <span class="time-delay"> {{ stopPointData.actualPlatformText }}</span></div>
            </div>
          </div>
          <div *ngIf="stopPointData.platformAssistanceIconPath !== null">
            <img
              class="leg-platform-assistance" 
              src="{{ stopPointData.platformAssistanceIconPath }}" 
              sbbTooltip="{{ stopPointData.platformAssistanceTooltip }}" 
            />
          </div>
        </td>
        <td class="text-center">
          <input 
            class="form-check-input" 
            type="radio" 
            [checked]="this.selectedEndpointsIDx.includes(stopIdx)" 
            (change)="onRouteEndPointSelected(stopIdx)" 
          />
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
