<div class="row">
  <div class="col nav-main bg-ojp-blue">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <div class="d-flex flex-column gap-2 mt-2 mb-1">
        <div><a class="navbar-brand text-white" [routerLink]="'../search'">{{ this.model.headerText }}</a></div>
        <div class="d-none d-md-block"><a class="navbar-brand text-white" [routerLink]="'../search'"><img src="assets/opentransportdata.swiss.header-icons.svg" height="23" /></a></div>
      </div>
      <div class="d-none d-md-flex">
        <div class="nav-item">
          <a class="nav-link" href="https://github.com/openTdataCH/ojp-demo-app-src">Source Code</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="https://github.com/openTdataCH/ojp-demo-app-src/blob/main/docs/README.md">Docs</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="https://opentransportdata.swiss/en/cookbook/open-journey-planner-ojp/">OJP
            Cookbook</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-ojp-primary w-100" style="height: 10px"></div>
</div>
